 <h1> <b>TinyApp </b></h1>
<%if (!user) { %>
  <a href="/register"> Register </a> || <a href="/login"> Login </a>
<% } %>
<%if (user) { %>
    <form  action="/logout" method="POST" class="form-inline">
       <b><%= user.email %><b> &nbsp;&nbsp;
      <button class="btn btn-primary" type="submit"> LogOut </button>
    </form>
<% } %>
<br/>
<br/>