<div class="row row-container">
  <div class="col-4">
    <h1> <b>TINY XML </b></h1>
  </div>
  <div class="col" >
    <form style="float:right;" action="/login" method="POST" class="form-inline">
      <input name="username" placeholder="username"> </input>
      <button class="btn btn-primary" type="submit"> Login </button>
    </form>
  </div>
</div>
<br/>
<br/>