<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TinyApp</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <%- include ./partials/_header %>
</head>
<body style="font-size:20px; padding:50px;">

  Url: <b><%= longURL %> </b> and it's short form: <b> <%= shortURL %> <b/>
  <form class="form-inline" action=<%="/urls/" + shortURL %> method="POST">
    <div class="form-group mb-2">
      <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>


  <br/>
  <a href="#"> shorten your URL here <a/>

</body>
</html>
