<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">

  <!-- simple example, trying out ejs
    <%= templateVars.urls.b2xVn2 %>
    <% for(let i = 0; i  < 10; i++){%>
    <br/> <%= i %>
    <% } %> -->

  A list of the URLs and their shortened forms
  <ul>
    <% for(let url in  templateVars.urls ){%>
     <li> <%= templateVars.urls[url] %> : <%= url %> </li>
    <% } %>
  </ul>
  <br/>

  <a href="#"> shorten your URL here <a/>

</body>
</html>
